<div class="banners">
  <div class="banners__items banners__items--three">
    <% banners_block.circles.each do |index, banner|
      %><div class="banners__item">
        <a href="<%=raw banner[:url] %>">
          <div class="circle">
            <img src="<%= cms_image(banners_block.images[:circles][index][:desktop], :large) %>" class="is-loading">
          </div>
          <div class="heading--2 heading--mobile-shrink">
            <%=raw banner[:cta] %>
          </div>
          <div class="arrow"></div>
        </a>
      </div><%
    end %>
  </div>
  <hr class="banners__line">
  <div class="banners__items banners__items--two">
    <% banners_block.boxes.each do |index, banner|
      %><div class="banners__item">
        <a href="<%=raw banner[:url] %>">
          <div class="image" style="padding-top: 138.88888888888889%">
            <picture>
              <img src="<%= cms_image(banners_block.images[:boxes][index][:desktop], :large) %>" alt="" class="is-loading">
              <source srcset="<%= cms_image(banners_block.images[:boxes][index][:desktop], :large) %>" media="(min-width: 1024px)">
              <source srcset="<%= cms_image(banners_block.images[:boxes][index][:mobile], :medium) %>" media="(max-width: 1023px)">
            </picture>
          </div>
          <div class="heading--2">
            <%=raw banner[:cta] %>
          </div>
          <div class="paragraph">
            Little ones will loves these florals when transitioning from summer to fall.
          </div>
          <div class="arrow"></div>
        </a>
      </div><%
    end %>
  </div>
</div>
