<div class="hero hero--white">
  <a href="<%= hero_block.url %>">
    <div class="hero__image">
      <picture>
        <img src="<%= cms_image(hero_block.images[:background][:desktop], :large) %>" alt="" class="is-loading">
        <source srcset="<%= cms_image(hero_block.images[:background][:desktop], :large) %>" media="(min-width: 1024px)">
        <source srcset="<%= cms_image(hero_block.images[:background][:desktop], :retina) %>" media="(min-width: 1024px), min-device-pixel-ratio: 1.5" />
        <source srcset="<%= cms_image(hero_block.images[:background][:mobile], :medium) %>" media="(max-width: 1023px)">
      </picture>
    </div>
    <div class="hero__content">
      <div class="heading--1">
        <%=raw hero_block.heading %>
      </div>
      <span class="button button--outline"><%=raw hero_block.cta %></span>
    </div>
  </a>
</div>
